# Игнорировать папку app (результат сборки Gulp)
# app/

# Игнорировать папку node_modules
node_modules/

# Игнорировать лог-файлы
*.log

# Игнорировать файлы, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать файлы, специфичные для редакторов
.vscode/
.idea/

# Игнорировать отладочный лог npm
npm-debug.log*

# Игнорировать файл целостности yarn
.yarn-integrity

# Игнорировать файл с переменными окружения
.env
